@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

[data-hydration-error] {
  display: none !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 22% 15%;
    --card: 0 0% 100%;
    --card-foreground: 222 22% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 22% 15%;
    --primary: 217 63% 29%;
    --primary-foreground: 0 0% 100%;
    --secondary: 33 80% 54%;
    --secondary-foreground: 0 0% 100%;
    --muted: 213 33% 97%;
    --muted-foreground: 215 11% 39%;
    --accent: 33 80% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 4 72% 46%;
    --destructive-foreground: 0 0% 100%;
    --border: 216 20% 90%;
    --input: 216 20% 90%;
    --ring: 217 63% 29%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
